* {
	box-sizing: border-box;
	}
body {
	margin: 0 auto;
	width: 1090px;
	}
.indextext {
	margin-top: 60px;
	font-family: "Arial", Verdana, san serif;
}
.boxstyle {
  border-width: 1px;
  border-style: solid;
  border-color: #969696;
  background-color: #d7d7d7;
	}
.tcbox1 {
  height: 164px;
  margin-top: 40px;
  clear: both;
  width: 1090px;
}
.tcbox2 {
  margin-top: 20px;
  overflow: hidden;
  clear: both;
}
.tcbox2a {
  height: 450px;
  width: 735px; 
  float: left;
}
.tcbox2b {
  height: 450px;
  width: 335px;
  float: right;
}
.tcbox3 {
  clear: both;
  height: 164px;
  margin-top: 20px;
  margin-bottom: 40px;
  width: 1090px;
}
.threecbox2 {
  margin-top: 20px;
  overflow: hidden;
  clear: both;
}
.threecbox2a {
  height: 450px;
  width: 206px;
  float: left;
}
.threecbox2b {
  height: 450px;
  width: 638px;
  float: left;
  margin-left: 20px;
}
.threecbox2c {
  height: 450px;
  width: 206px;
  float: right;
}
.smpmrketrow2 {
  margin-top: 20px;
  overflow: hidden;
  clear: both;
}
.smpmrketrow2a {
	height: 450px;
	width: 535px;
	float: left;
}
.smpmrketrow2b {
	height: 450px;
	width: 535px;
	float: right;
}
.smpmrketrow3 {
  margin-top: 20px;
  overflow: hidden;
  clear: both;
}
.smpmrketrow3a {
	height: 220px;
	width: 350px;
	float: left;
}
.smpmrketrow3b {
	height: 220px;
	width: 350px;
	float: left;
	margin-left: 20px;
}
.smpmrketrow3c {
	height: 220px;
	width: 350px;
	float: right;
}
.marketnavrow1 {
  margin-top: 40px;
  overflow: hidden;
  clear: both;
}
.marketnavrow1a {
	height: 124px;
	width: 264px;
	float: left;
}
.marketnavrow1b { 
	float: right; 
	margin-top: 20px; 
}
header nav { 
	height: 90px;
	width: 704px;
	float: right;
}
header nav ul { 
	list-style: none; 
}
header nav ul li {
	margin-left: 15px;
	width: 140px;
	height: 50px;
	display: inline-block;
	float: right;
}
.marketnavrow2 {
	height: 450px;
	width: 1090px;
	margin-top: 20px;
	margin-bottom: 20px;
	float: right;
	clear: both;
}
.magazine {
	margin-top: 20px;
	margin-bottom: 20px;
	clear: both;
	overflow: hidden;
}
aside {
	height: 490px;
	width: 262px;
	float: left;
	margin-right: 20px;
}
.secondary {
	float: right;
}
.mag1strowbox {
  width: 806px;
  height: 150px;
  margin-bottom: 20px;
}
.mag2ndrowbox {
  overflow: hidden;
  margin-bottom: 20px;
}
.mag2ndrowbox .mag2ndrowbox1 {
  float: left;
  width: 490px;
  height: 200px;
  margin-right: 20px;
}
.mag2ndrowbox .mag2ndrowbox2 {
  float: left;
  width: 296px;
  height: 200px;
}
.mag3rdrowbox {
  overflow: hidden;
  clear: both;
}
.mag3rdrowbox .lastcolrow {
  float: left;
  width: 182px;
  height: 100px;
  margin-right: 20px;
}
.mag3rdrowbox .lastcolrow .last {
  margin-right: 0;
}
/* Something broke on the spacing of the 3rd row of the marketing with nav when I was working on the magazine one. 
I am going to try to play with it some more.
However, I wanted to submit this as I know my work is tardy as it is.*/
