* {
	box-sizing: border-box;
	}
body {
	margin: 0 auto;
	width: 1090px;
	}
.indextext {
	margin-top: 60px;
	font-family: "Arial", Verdana, san serif;
}
.boxstyle {
  border-width: 1px;
  border-style: solid;
  border-color: #969696;
  background-color: #d7d7d7;
	}
.tcbox1 {
  height: 164px;
  margin-top: 40px;
  clear: both;
  width: 1090px;
}
.tcbox2 {
  margin-top: 20px;
  overflow: hidden;
  clear: both;
}
.tcbox2a {
  height: 450px;
  width: 735px; 
  float: left;
}
.tcbox2b {
  height: 450px;
  width: 335px;
  float: right;
}
.tcbox3 {
  clear: both;
  height: 164px;
  margin-top: 20px;
  margin-bottom: 40px;
  width: 1090px;
}
.threecbox2 {
  margin-top: 20px;
  overflow: hidden;
  clear: both;
}
.threecbox2a {
  height: 450px;
  width: 206px;
  float: left;
}
.threecbox2b {
  height: 450px;
  width: 638px;
  float: left;
  margin-left: 20px;
}
.threecbox2c {
  height: 450px;
  width: 206px;
  float: right;
}
.smpmrketrow2 {
  margin-top: 20px;
  overflow: hidden;
  clear: both;
}
.smpmrketrow2a {
	height: 450px;
	width: 535px;
	float: left;
}
.smpmrketrow2b {
	height: 450px;
	width: 535px;
	float: right;
}
.smpmrketrow3 {
  margin-top: 20px;
  overflow: hidden;
  clear: both;
}
.smpmrketrow3a {
	height: 220px;
	width: 350px;
	float: left;
}
.smpmrketrow3b {
	height: 220px;
	width: 350px;
	float: left;
	margin-left: 20px;
}
.smpmrketrow3c {
	height: 220px;
	width: 350px;
	float: right;
}
.marketnavrow1 {
  margin-top: 40px;
  overflow: hidden;
  clear: both;
}
.marketnavrow1a {
	height: 124px;
	width: 264px;
	float: left;
}
.marketnavrow1b { 
	float: right; 
	margin-top: 20px; 
}
header nav { 
	height: 90px;
	width: 704px;
	float: right;
}
header nav ul { 
	list-style: none; 
}
header nav ul li {
	margin-left: 15px;
	width: 140px;
	height: 50px;
	display: inline-block;
	float: right;
}
.marketnavrow2 {
	height: 450px;
	width: 1090px;
	margin-top: 20px;
	margin-bottom: 20px;
	float: right;
	clear: both;
}
.magazine {
	margin-top: 20px;
	margin-bottom: 20px;
	clear: both;
	overflow: hidden;
}
.tallbox {
	height: 560px;
	width: 130px;
	float: left;
}
.secondary {
	clear: both;
	height: 560px;
	width: 940px;
	float: right;
}
